@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat;
        font-weight: 100 300;
        src: url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 400 600;
        src: url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 700 900;
        src: url(./assets/fonts/Montserrat-ExtraBold.ttf) format('truetype');
    }
    @font-face {
        font-family: Roboto;
        src: url(./assets/fonts/Roboto-Medium.ttf) format('truetype');
    }
}
